# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

OBJECTIVES : 
- Popular languages
- Libraries
- Data science Tools

Some of the popular languages that Data Scientists use are:PYTHON , R and SQL
Python
R
SQL
Scala
Java
C++
Julia
JavaScript
PHP
Go
Ruby
Visual Basic

Some of the commonly used libraries used by Data Scientists include:
Pandas
Numpy
Matplotlib
Seaborn
Scikit-learn
Keras
TensorFlow
PyTorch
Apache Spark
Vegas
Big DL
Ggplot2

| Data Science Tools |
|--------------------|
| ANACONDA           |
| JUPYTER NOTEBOOKS  |
| R STUDIO           |
| SPYDER             |
| ZEPPELIN           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers(3*4)+5

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author : EL ADNANI ABDELILAH